#dress-selector {
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
}
#dress-selector::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.product-img {
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
}

.product-img:hover {
    cursor: pointer;
}

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.head-top {
    object-fit: cover;
}

#head-top > img {
    height: 5rem;
}
#head-mid > img {
    height: 5rem;
}
#neck > img {
    height: 5rem;
}
#body-up > img {
    height: 20rem;
}
#body-down > img {
    height: 20rem;
}
#foot > img {
    height: 10rem;
}
